## DocFx ignore file
## Ignores everything except the necessary files/folders

/*
!api/
!articles/
!fonts/
!styles/
!favicon.ico
!index.html
!logo.svg
!manifest.json
!search-stopwords.json
!toc.html
!xrefmap.yml


